body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    /* background-color: white; */
}

#current-weather {
    /* background-color: #f7f7f7; */
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


#weather-icon {
    font-size: 3em;
    margin-bottom: 0.5em;
}

#temperature, #humidity, #visibility, #wind-speed ,#current-Location {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#weather-details {
    margin-top: 2em;
}

#weather-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#weather-details li {
    margin-bottom: 0.5em;
}
#weather-icon{
    text-align: center;
    /* color: blue; */
}